* {
    background-color: aliceblue;
}

#hats {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#hats li {
    list-style: none;
    position: relative;
    border: 2px solid black;
    border-radius: 100%;
    width: 150px;
    height: 200px;
    text-align: center;
    background: white;
    
}

#hats li img {
    width: 70%

}