* {
    background-color: aliceblue;
}


#hats li {
    list-style: none;
    border: 2px solid black;
    border-radius: 100%;
    width: 150px;
    height: 200px;
    text-align: center;
    background: white;
    
}

#hats li img {
    width: 70%

}